* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat";

background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(83, 181, 237, 1) 100%);
}


